#!/usr/bin/make -f
# -*- makefile -*-

# # Uncomment this to turn on verbose mode.
# #export DH_VERBOSE=1
#export DEB_BUILD_OPTIONS = nocheck

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-parallel \
	                     --disable-gtk_next \
	                     --enable-chrome \
	                     --enable-plank \
	                     --enable-telegram
